fastapi
uvicorn
langchain==0.2.11
langchain-community==0.2.9
langchain-google-genai
faiss-cpu
sentence-transformers
numpy
beautifulsoup4
requests
pdfplumber
google-generativeai
python-dotenv
pydantic
